{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>{{ movie.title }}</h1>
    <p><strong>Genre:</strong> {{ movie.genre }}</p>
    <p><strong>Director:</strong> {{ movie.director }}</p>
    <p><strong>Release Year:</strong> {{ movie.release_year }}</p>
    <p><strong>Synopsis:</strong> {{ movie.synopsis }}</p>
    <a href="{% url 'index' %}">Back to List</a>
</body>
</html> {% endcomment %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Detail</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>{{ movie.title }}</h1>
    <p><strong>Genre:</strong> {{ movie.genre }}</p>
    <p><strong>Director:</strong> {{ movie.director }}</p>
    <p><strong>Release Year:</strong> {{ movie.release_year }}</p>
    <p><strong>Synopsis:</strong> {{ movie.synopsis }}</p>
    <a href="{% url 'index' %}">Back to List</a>
</body>
</html>

